@model MvcOnlineCommercialAutomation.Models.Classes.SalesTransaction
@{
    ViewBag.Title = "NewSale";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Satış Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Ürün")
    @Html.DropDownListFor(x => x.Productid, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
    <br />
    @Html.Label("Cari")
    @Html.DropDownListFor(x => x.Currentid, (List<SelectListItem>)ViewBag.val2, new { @class = "form-control" })
    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.Employeeid, (List<SelectListItem>)ViewBag.val3, new { @class = "form-control" })
    <br />
    @Html.Label("Adet")
    @Html.TextBoxFor(x => x.Piece, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Toplam Tutar")
    @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Satış Yap</button>
</form>

