@using MvcOnlineCommercialAutomation.Models.Classes
@model List<SalesTransaction>
@{
    ViewBag.Title = "SalesDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Detayı</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SalesID</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Current.CurrentName @item.Current.CurrentSurname</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.Price</td>
            <td>@item.Piece</td>
            <td>@item.TotalAmount</td>
            <td>@Convert.ToDateTime(@item.SalesDate).ToShortDateString()</td>
        </tr>
    }
</table>